<div class="po-wrapper">
  <po-page-default p-title="AppName">
    <p>AppName page</p>

    <po-tabs p-width="50%" p-align="left" p-active-color="color-03" p-active-color-label="color-10">
      <po-tab p-label="POO 1" p-align="left" p-color="color-07" p-color-label="color-03">
        <po-info p-label="Speaker1" [p-value]="'teste1'"></po-info>
      </po-tab>
      <po-tab p-label="POO 2" p-align="right">
        <po-info p-label="Speaker2" [p-value]="'teste2'"></po-info>
      </po-tab>
      <po-tab p-label="POO 3" p-align="center">
        <po-info p-label="Speaker3" [p-value]="'teste3'"></po-info>
      </po-tab>
      <po-tab p-label="POO 4" p-align="left">
        <po-info p-label="Speaker4" [p-value]="'teste4'"></po-info>
      </po-tab>
      <po-tab p-label="POO 5" p-align="left">
        <po-info p-label="Speaker5" [p-value]="'teste5'"></po-info>
      </po-tab>
      <po-tab p-label="POO 6" p-align="left" p-color="color-07" p-color-label="color-09">
        <po-info p-label="Speaker6" [p-value]="'teste6'"></po-info>
      </po-tab>
    </po-tabs>

    <po-tabs p-width="50%" p-align="left" p-active-color="red" p-active-color-label="white">
      <po-tab p-label="POO 1" p-align="left" p-color="color-05" p-color-label="color-04">
        <po-info p-label="Speaker1" [p-value]="'teste1'"></po-info>
      </po-tab>
      <po-tab p-label="POO 2" p-align="right" p-color="green" p-color-label="black">
        <po-info p-label="Speaker2" [p-value]="'teste2'"></po-info>
      </po-tab>
      <po-tab p-label="POO 3" p-align="center">
        <po-info p-label="Speaker3" [p-value]="'teste3'"></po-info>
      </po-tab>
      <po-tab p-label="POO 4" p-align="left">
        <po-info p-label="Speaker4" [p-value]="'teste4'"></po-info>
      </po-tab>
      <po-tab p-label="POO 5" p-align="left" p-color="color-07" p-color-label="color-03">
        <po-info p-label="Speaker5" [p-value]="'teste5'"></po-info>
      </po-tab>
      <po-tab p-label="POO 6" p-align="left">
        <po-info p-label="Speaker6" [p-value]="'teste6'"></po-info>
      </po-tab>
    </po-tabs>
  </po-page-default>
</div>
